.input-mini{width:60px}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}

.ac_results{padding: 0px;border: 1px solid #3c7faf;background-color: white;overflow: hidden;z-index: 9999;position:relative;!important;color:#555;}
.ac_results ul{width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;z-index: 1500;overflow: auto;}
.ac_results li{margin: 0px;padding: 2px 5px;cursor: default;display: block;font-size: 10px;line-height: 16px; overflow: hidden;}
.ac_loading{background: white url(../img/_indicator.gif) right center no-repeat; }
.ac_odd{background-color: #eee;}
.ac_over{background-color: #d9e3ef;}
.ac_over:hover{cursor:pointer;}
#box-img-slide{height:268px;width:562px;background:url('_anim.gif') no-repeat center;margin-bottom:10px;}
.pr7{padding-right:7px !important;}
.xsmall{font-size:11px;line-height:1em !important;}
#keycode{width:120px;}
#img-keycode{margin:-10px 0 0 2px; padding:0;}

.upper{text-transform: uppercase !important;}
.red{color:red;}  