div#divtabelajax{margin:0px;padding:0px;}
table.tabelajax{width:99%;background: #ddd;text-align: left;border-collapse:collapse;color:#3D3D3D;}
table.tabelajax tr span.order{cursor:pointer;}
table.tabelajax tr.head th{border:1px solid #fff;padding:10px 10px 10px 7px;background:#55c258;text-align:left;color:#fff;}
table.tabelajax tr.mtop th{border:1px solid #fff;padding-bottom:10px;}
table.tabelajax tr.mbottom th{border:1px solid #fff;padding-top:10px;}
table.tabelajax tr.title span.right{float:right;}
table.tabelajax tr.title span.nav{cursor:pointer;font-size:15px;}
table.tabelajax tr.title span.nav:hover{color:#55c258;}
table.tabelajax tr.title #labelload{color:#777;display:none;}
table.tabelajax tr.title th{font-weight:normal;background:#fff;text-align:left;}
table.tabelajax td{color:#3D3D3D;padding:7px;vertical-align:top;background:#dce6f1;border:1px solid #fff;border:1px solid #fff;cursor:pointer;}
table.tabelajax td.odd{color:#3D3D3D;padding:7px;vertical-align:top;background:#edf2f7;border:1px solid #fff;border:1px solid #fff;cursor:pointer;}
table.tabelajax td div{color:#666;font-size:10px;}
table.tabelajax tr.hilite td{background:#b8cce4;}
table.tabelajax tr.selected td{background:#ffffbb;}
table.tabelajax tr td#filltd{color:#666;cursor:default;}
table.tabelajax input, table.tabelajax form {margin:0px;padding:0px;}
table.tabelajax input.tb_chk, table.tabelajax input#tb_chkall{cursor:pointer;}
table.tabelajax input.tb_text, table.tabelajax select{border:1px solid #ddd;font-family:Lucida Grande, Verdana, Sans-serif;font-size:11px;padding:2px;}
table.tabelajax input.tb_text:hover, table.tabelajax input.tb_text.mousedown, table.tabelajax select:hover, table.tabelajax select.mousedown{background:#dce6f1;}
table.tabelajax input#tb_hal, table.tabelajax input#tb_view{width:40px;text-align:right;}
table.tabelajax input#tb_cari{width:140px;}
table.tabelajax a.normal{text-decoration:none;color:#000;}